[submodule "odoo-mastercore/odoo-venezuela"]
	path = odoo-mastercore/odoo-venezuela
	url = git@github.com:odoo-mastercore/odoo-venezuela.git
	branch = 14.0

[submodule "odoo-mastercore/themes_addons"]
	path = odoo-mastercore/themes_addons
	url = git@github.com:odoo-mastercore/themes_addons.git
	branch = 14.0

[submodule "odoo-mastercore/suplymos_addons"]
	path = odoo-mastercore/suplymos_addons
	url = git@github.com:odoo-mastercore/suplymos_addons.git
	branch = 14.0

[submodule "CybroOdoo/CybroAddons"]
	path = CybroOdoo/CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 14.0

[submodule "odoo-mastercore/odoo_server_tools"]
	path = odoo-mastercore/odoo_server_tools
	url = git@github.com:odoo-mastercore/odoo_server_tools.git
	branch = 14.0
